button {
    font-size: 1.5em;
}

#jux-spine-video {
    margin-right: 3px;
}

#jux-aux-video {
    margin-left: 3px;
}

.jux-container {
    width: 600px;
}

.vid-container {
    display: flex;
}

.jux-play {
    margin-bottom: 5px;
}

.jux-popup {
    visibility: hidden;
    border: 1px dashed black;
    width: 250px;
    height: 200px;
    position: absolute;
    background-color: white;
    z-index: 100;
}

.jux-popup .jux-close {
    float: right;
}

.jux-spine-track {
    border: 1px dashed black;
    width: 600px;
    height: 20px;
}

.jux-track {
    border: 1px dashed black;
    width: 600px;
    height: 100px;
    cursor: pointer;
}

.jux-aux-display,
.jux-aux-display video,
.jux-aux-display img {
    max-height: 222px;
    max-width: 300px;
}

.jux-text-display {
    height: 24px;
    background-color: #cecece;
    text-align: center;
}

.react-grid-item {
    cursor: move;
    position: absolute;
    display: flex;
    height: 98px;
    border: 1px dashed blue;
    background-color: rgba(173, 216, 230, 0.4);
    text-align: center;
}

.react-grid-item .jux-stretch-handle {
    height: 100px;
    width: 10px;
    cursor: col-resize;
}
.react-grid-item .jux-stretch-handle:hover {
    background-color: orange;
}

.react-grid-item .aux-item-middle {
    flex-grow: 1;
}

.react-grid-item img.aux-item-middle {
    max-width: 100%;
    max-height: 100%;
}

.react-grid-item video.aux-item-middle {
    width: 80%;
}